<main role="main" class="container">
  
  <body>
  <% if flash[:error] %>
    <div class="notice"><%= flash[:error] %></div>
  <% end %>
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h1>Menu</h1>
            <ul>
              <a href="#" onclick="return false;" id ="todText"><li>See today's menu</li></a>
              <a href ="#" onclick="return false;" id ="tomText"><li>See tomorrow's menu</li></a>
            </ul>
            <br />
              <div id="calendar"></div>
              <script type="text/javascript">
               $(function () {
                   $('#calendar').datetimepicker({
                       inline: true,
                       locale: 'en-us',
                       format: 'L'
                   });
               });
           </script>
           <br />
            <% if user_signed_in? %>
              <li style = "list-style-type:none; padding-left: 0;">
                <%= link_to "Log out", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
            <a href="../users/sign_in"><button type="button" class="btn btn-primary">Staff Login</button></a>
            <% end %>
        
        </div>
      <div class="col-sm-12 col-md-8">
 
        <h1>Menu for Today</h1>
        <hr>
        
        <div>
          <h2>Dinner Menu</h2>
          <% @dinner_dishes.each do |element| %>
            <h3><%= element.name%></h3>
            <ul>
                <% element.recipies.each do |recipe| %>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;<%= recipe[:portion_size] %></li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;<%= recipe[:ingredient] %></li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;<%= recipe[:comment] %></li>
                <% end %>
            </ul>
            <% end %>
        </div>
        <hr />
        <div>
          <h2>Supper Menu</h2>
          <% @supper_dishes.each do |element| %>
            <h3><%= element.name%></h3>
            <ul>
                <% element.recipies.each do |recipe| %>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;<%= recipe[:portion_size] %></li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;<%= recipe[:ingredient] %></li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;<%= recipe[:comment] %></li>
                <% end %>
            </ul>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  
  </body>
</main>
